<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.page{
			display:inline-block;
			width:20px;
			height:20px;
			border-radius:50%;
			background:tomato;
			margin-right:5px;
			text-align:center;
			cursor:pointer;
		}
	</style>
	
</head>
<body>
<div id="nav"></div>
<input type="text" id="txt">
<button id="btn">添加</button>
<div id="box">
	
</div>
</body>
</html>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/baiduTemplate.js"></script>
<script src="/javascripts/nav.js"></script>
<script type="text/html" id="tem">
	<ul>
		<% for(var i = 0 ; i<list.length; i++){	%>
		<li><%=list[i].name%></li>
		<button class="del" data-id="<%=list[i]._id%>">删除</button>
		<button class="modify" data-id="<%=list[i]._id%>">修改</button>
<%}%>
		
	</ul>
    <% for(var j = 1 ; j<= count ; j++){%>
		<span class="page" data-page="<%=j%>"><%=j%></span>
	<%}%>
</script>
<script type="text/javascript">
	//传个头
	nav($("#nav"));

	//分页
	function pageCount(page,pageSize){
		$.get("/pageShow/"+page+"/"+pageSize).then((res)=>{
			console.log(res.count);
			var content = baidu.template("tem",{
				list:res.list,
				count:res.count
			})
			console.log(content)
			$("#box").html(content);
			
		})
	}

	pageCount(1,3)
	$("#box").on("click",".page",function(){
		pageCount($(this).attr("data-page"),3)

	})

	//显示列表
	// $.get("http://localhost:5000/list").then((res)=>{
	// 	var content = baidu.template("tem",res);
	// 	$("#box").html(content);
	// })
	//添加
	$("#btn").click(function(){
		$.get("/add/"+$("#txt").val()).then((res)=>{
			// var content = baidu.template("tem",res);
			// $("#box").html(content);
			location.reload();

		})
	})

	//删除
	$("#box").on("click",".del",function(){
		if(!confirm("确定要删除嘛"))return 
			console.log($(this).attr("data-id"))
		$.get("/del/"+$(this).attr("data-id")).then((res)=>{
			if(res.ret){
				location.reload();
			}
		})

	})
	//修改 跳转到修改页面
	$("#box").on("click",".modify",function(){
			location.href="/modify.html?id="+$(this).attr("data-id");
		
	})

</script>